.main_column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .main_column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-radius: 15px;
  }
}
